body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

/* Header */
.header_1{   
    box-shadow: 0 1px 10px 0 #f0f0f0;
}

.header_1{
    padding: 20px;
    text-align: center;
}

.header_1 .box_2 {
    font-weight: bold;
}

.header_2{
    padding: 10px;
    text-align: center;
}

.header_2 .box_2 {
    background-color: #ebebeb;
    padding: 5px;
    font-size: 11px;
    color: gray;
}
/* End Header */

.container {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  gap: 20px;
}

.cart-items {
  flex: 2.10;
  background: #fff;
  padding: 20px;
  border: 1px solid #e5e5e5;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.item-details {
  flex: 1;
  margin-left: 15px;
}

.item-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.item-details p:first-of-type {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-top: 15px;
}

.item-details span {
  color: #000;
  font-weight: bold;
}

.item-actions {
  text-align: right;
}

.item-actions p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.item-actions select {
  margin: 10px 0;
  padding: 5px;
}

.actions{
    display: flex;
    gap: 10px;
}

.actions a {
  display: block;
  font-size: 10px;
  color: #333;
  margin-top: 5px;
}

.cart-summary {
  flex: 0.9;
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  background-color: #f3f3f3;
}

.cart-summary h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.summary{
    padding: 20px;
    border: 1px solid #e5e5e5;
    background-color: white;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.summary-item p:first-of-type{
    padding-right: 30px;
}

.summary-item .total {
  font-weight: bold;
  color: #000;
}

.checkout-btn {
  width: 60%;
  padding: 10px;
  background: #333;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.checkout-btn a{
    color: white;
}

.checkout-btn a:hover{
    color: #333;
}

.checkout-btn:hover {
  background: white;
  color: #333;
}

.btn{
    text-align: center;
    margin-top: 20px;
}

/* Footer  */
.footer_1{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    
}

.footer_1 p{
    color: gray;
}

.footer_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.footer_2 .VN{
    display: flex;
    align-items: center;
}

.footer_2 .VN img{
    height: 15px;
    width: auto;
    margin-right: 10px;
}

.footer_3{
    color: gray;
    padding: 6px;
    font-size: 12px;
    text-align: center;
}
/* End Footer */